<div class="champions">
	<% list.each_with_index do |champion, index| %>
		<img src="http://ddragon.leagueoflegends.com/cdn/5.12.1/img/champion/<%= champion %>.png" id="<%= champion %>" class="<%= 'not-free' if index > 9 %>">
	<% end %>
</div>