<!DOCTYPE html>
<html>
	<head>
		<title>howdoi.gg</title>
		<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' />
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,900|Roboto+Condensed:400,700' />
		<link rel="stylesheet" type='text/css' href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="<%= url('/assets/css/global.css') %>" />
		<link rel="shortcut icon" type="image/png" href="/public/assets/images/favicon.ico" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<%= yield %>
	</body>

	<script src="<%= url('/assets/js/jquery.js') %>"></script>
	<script src="<%= url('/assets/js/modernizr.js') %>"></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
</html>