/* === GLOBAL STYLE =============================== */

body {

	font-family: 'Roboto';

	background-color: #eff1f5;
}

h1 {

	font-family: 'Roboto';
	font-weight: 900;
}

h2 {

	font-family: 'Roboto';
	font-weight: 400;
}

h3 {

	font-family: 'Roboto Condensed';
	font-weight: 400;
}