/* === GLOBAL STYLE =============================== */

body {

	font-family: 'Roboto';

	background-color: #eff1f5;
}

h1 {

	font-family: 'Roboto';
	font-weight: 900;
}

h2 {

	font-family: 'Roboto';
	font-weight: 400;
}

h3 {

	font-family: 'Roboto Condensed';
	font-weight: 400;
}

/* === NAVBAR ===================================== */

.bar {

	padding: 1.8em 0;

	background-color: #ffffff;

	border-bottom: 1px solid #e7e7e7;
}

	.bar .logo {

		font-size: 2em;
		font-weight: 900;

		color: #8e44ad;
	}

		.bar .logo:hover,
		.bar .logo:focus {

			text-decoration: none;
		}

	.bar .links {

		margin: 0;
		padding: 0 0.7em;

		list-style: none;

		float: right;

		border-bottom: 1px solid #8e44ad;
	}

		.bar .links > li {

			display: inline-block;

			margin-right: 1.6em;
		}

			.bar .links > li > a {

				font-family: 'Roboto Condensed';
				font-size: 1.3em;

				text-transform: uppercase;

				line-height: 2em;

				color: #8e44ad;
			}

			.bar .links > li > a:hover,
			.bar .links > li > a:focus,
			.bar .links > li:hover > a,
			.bar .links > li:focus > a {

				text-decoration: none;

				color: #7a3099;
			}

		.bar .links li:last-child {

			margin-right: 0;
		}

/* === INPUTS ===================================== */

.search {

	padding: 0.4em 1em;

	width: 100%;

	font-size: 1.5em;

	border: 3px solid #7a3099;
	border-radius: 4px;
}

	.search:active,
	.search:focus {

		outline: none;
	}

/* === ONE OFFS =================================== */

.home {

	margin-top: 10vh;
	margin-bottom: 10vh;

	text-align: center;
}