<div class="container">
	<div class="col-xs-12 col-md-6 col-md-offset-3 home">
		<h1>howdoi.gg</h1>
		<p>Simple, statistic driven guides pulled from only the best players in NA</p>
		<input type="text" name="champion" placeholder="Champion" class="search">
	</div>

	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<div class="champions">

		</div>
	</div>
</div>