<nav class="bar">
	<div class="container">
		<a class="logo" href="/">howdoi.gg</a>

		<ul class="links">
			<li><a href="/">Champions</a></li>
			<li><a href="/">Statistics</a></li>
			<li><a href="/">About</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	<h1>howdoi.gg</h1>
</div>