<nav class="bar">
	<div class="container">
		<a class="logo" href="/">howdoi.gg</a>

		<ul class="links">
			<li><a href="/">Champions</a></li>
			<li><a href="/">Statistics</a></li>
			<li><a href="/">About</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	<div class="col-xs-12 col-md-6 col-md-offset-3" style="margin-top:15vh; text-align:center;">
		<h1>howdoi.gg</h1>
		<p>Simple, statistic driven guides pulled from only the best players in NA</p>
		<input type="text" name="champion" placeholder="Champion" class="search">
	</div>
</div>